<!DOCTYPE html>
<html>
<head>
    <title>Gestión de Cálculos</title>
</head>
<body>
    <h1>Gestionar Cálculos de Renta</h1>

    <h2>Registrar Cálculo</h2>
    <form action="/insertar_calculo" method="GET">
        <label>Cédula del Usuario:</label><br><input type="text" name="cedula_usuario" required><br><br>
        <label>Ingreso Bruto:</label><br><input type="text" name="ingreso_bruto" required><br><br>
        <label>Aportes de Ley:</label><br><input type="text" name="aportes_ley" required><br><br>
        <label>Deducciones:</label><br><input type="text" name="deducciones" required><br><br>
        <label>Renta Líquida:</label><br><input type="text" name="renta_liquida" required><br><br>
        <label>Fecha de Creación:</label><br><input type="date" name="fecha_creacion" required><br><br>
        <button type="submit">Guardar Cálculo</button>
    </form>

    <hr>

    <h2>Acciones de Cálculos</h2>
    <form action="/buscar_calculo" method="GET">
        <label>Buscar Historial por Cédula:</label>
        <input type="text" name="cedula_usuario" required>
        <button type="submit">Ver Cálculos</button>
    </form>
    <br>
    <form action="/eliminar_calculo" method="GET">
        <label>Eliminar Cálculo por ID:</label>
        <input type="number" name="id_calculo" required>
        <button type="submit">Eliminar por ID</button>
    </form>

    <br>
    <a href="/">Volver al menú principal</a>
</body>
</html>